
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Desktop", "Details", "Products", new { detail = "Laptop" }, null)</li>
    <li>@Html.ActionLink("Laptop", "Details", "Products", new { detail = "Desktop" }, null)</li>
    <li>@Html.ActionLink("Tablet", "Details", "Products", new { detail ="Tablet" }, null)</li>


</ul>

